<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
    <title>{% block title %}PINKERBLOG{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    {% block head %}
    {% endblock head %}
    </head>
    <body>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock navbar %}
        <div class="container mt-5">
          <div class="row">
            <div class="col-6 offset-md-2">
              {% block content %}
              {% endblock content %}
            </div>
          </div>
        </div>
        
    </body>
</html>